.tile{
    height: 150px;
    width: 150px;
    background-color: darkcyan;
    margin: 10px;
}
.tile img{
    position: absolute;
    height: 150px;
    width: 150px;
    background-size: contain;
}

body{
    display: flex;
    flex-flow: column;
    align-items: center;
}

#restart{
    height: 100px;
    width: 200px;
    display: flex;
    margin-top: 30%;
    align-items: center;
    justify-content: center;
    background-color: darkcyan;
    color: powderblue;
    border-radius: 20px;
    opacity: 1;
}
#wrap{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    /* align-items: center; */
    justify-content: center;
}
#wrap:hover, .tile:hover{
    cursor: pointer;
}